body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root{
/*  background-image: linear-gradient(to top, #1f242c, #21262e, #222831, #242a33, #262c36); */
  background-color: #F7EFE5;
  
  height : 100vh;
  width: 100%;
  }
