



.closePopup {
   display: flex; 
   justify-content: center;
   align-items: center;
   border: 1px;
   border-color: inherit;
   background-color: transparent;
   border-radius: 17px;
   line-height: 31px;
   font-size: 30px;
   font-family: "Cairo", sans-serif;
   font-weight: bold;
   margin-top: 0;
}

.closeButtonContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signButtons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top : 20px;
}

.inputContainer{
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.errorMsg{
    font-size : 14px;
    color:red;
    margin:0;
    display: none;
    width: 100%;
}

.inputContainer input {
    width: 100%;
    font-size: 15px;
    outline: none;
}

.inputContainer input:focus {
    background-color: #d9d9d9;
}

.showPassword{
    line-height: 0px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.showPassword input {
    accent-color: #17B794;
    height: 25px;
    width: 25px;
}


#popupContentWrapper {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#popupContent {
    width: 85%;
}

.titlePopup {
margin-top: 0;
margin-bottom : 10px;
font-weight: 300;
}
