.topDiv {
    height : 100%;
    width: 100%;
    user-select: none;
}

#titleSelect {
    text-align: start;
    margin-top: -45px;
    font-size: 20px;
    font-weight: 300;
    left : 5%;
    position: absolute;
    
}

.optionsUser {
    width: 10px;
    height: 10px;
    right: 0;
}

select {
    size: 20px;
    margin-top : 30px;
    transition: 0.5s ease;
    padding: 1px 1px 1px 1px;
    border-color: transparent;
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-size: 17px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #EEEEEE;
    background-image: url("../images/caret-down-solid.svg");
    background-repeat: no-repeat;
    background-position: right 12px top 51%;
    background-size: 0.65rem auto;
    appearance: none;
    cursor: pointer;
}

.content {
    position: absolute;
    left : 50%;
    top : 45%;
    transform: translate(-50%,-45%);
}

.header {
    margin-top : 5px;
    width: 99%;
    left: 50%;
    transform: translate(-50%);
    height : 70px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    border-style: solid;
    border : 0;
   
}

#titleHeader {
    font-weight: 200;
    line-height: 0px;
    pointer-events: none;
    margin-left : 40px;
    margin-top:10px;
}

.divButtonHeader {
    display:flex; 
    gap : 10px;
    margin-right : 50px;
}

.searchContainer {
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #FFFBF5;
    align-items: center;
    gap: 10px;
    width: 1050px;
    height: 140px;
    border-radius:5px;
}

@media screen and (max-width: 600px) {
    .topDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    }
   
    .divButtonHeader {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        margin-top : 20px;
    }
    
    .header {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top : 20px;
        position: relative;
        left : unset;
        transform: unset;
        height: max-content;
        margin-bottom : 10px;
    }

    #titleHeader {
        margin-left : 0;
        
    }

    .content > div {
        width: 100%;
        
    }

    .searchContainer {
            width:100%;
            flex-direction: column;
            height: 100%;
    }

    #titleSelect {
        position: relative;
        width: max-content;
        left : 0%;
        transform: translate(0,150%);
        margin: 0;
        line-height: 10px;
    }

    .content {
        width: 85%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: unset;
        left: unset;
        top: unset;
        position: relative;
    }

    #footer {
        margin-top : 10px;
        position: relative !important;
       
    }
    select {
        width: 90%;
        height : 45px;
    }
    #searchButton {
        margin-bottom : 10px;
        width: 90%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1095px) {
    
    .topDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow-y: auto;
        }
       
        .divButtonHeader {
            width: max-content;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin:0;
            margin-right: 40px;;
        }
        #titleHeader{
            line-height: 30px;
            margin-right : 10px;
        }
        .header {
            margin-top: 20px;
            width: 100%;
            justify-content: space-between;
            position: relative;
            left : unset;
            transform: unset;
            height: max-content;
            margin-bottom : 10px;
        }
        .content > div {
            width: 100%;
            
        }
    
        .searchContainer {
                width:100%;
                flex-direction: column;
                flex-wrap: wrap;
                height: 100%;
        }
        
        #searchButton {
            width: 90%;
            margin-bottom : 10px;
        }
    
        #titleSelect {
            position: relative;
            width: max-content;
            left : 0%;
            transform: translate(0,150%);
            margin: 0;
            line-height: 10px;
        }
    
        .content {
            width: 85%;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: unset;
            left: unset;
            top: unset;
            position: relative;
        }
    
        #footer {
            margin-top : 10px;
            position: relative !important;
        }
        select {
            width: 90%;
            height : 45px;
        }
       
    }
  
